@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "siteMaster.cshtml";
}
<h2>Content</h2>

<ul>
    @foreach(var item in Model.Children)
    {
        <li><a href="@item.Url">@item.Name</a></li>
    }
</ul>