@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Services>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "siteMaster.cshtml";
}
<h2>Services</h2>


@{
	var selection = Umbraco.Content(Guid.Parse("60cadf3c-5555-4439-87bd-293b4a3d2ddc"))
    .Children()
    .Where(x => x.IsVisible());
}
<ul>
	@foreach (var item in selection)
	{
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>

